{{template "top" .}}
<html>
	<h1>
        {{if .Data_falg}}
            {{range .User_data_str}} {{. }}<br> {{end}}
        {{else}}
        <p>第一次访问主页，请输入你的名字，将为你生成信息</p>
        <form id="formid" action ="/Init_User_data" method="post" enctype="application/x-www-form-urlencoded">
            <div style="width: 90px;float: left">
                <input class="tl-price-input" type="text" name="name" placeholder="Kadars">
            </div>
        </form>
        <div style="width: 60px;float: left;margin-left: 20px"></div>
            <button class="ant-btn ant-btn-red" form="formid" type="submit" value="Submit">开始生成</button>
        </div>

        {{end}}
	</h1>
</html>
{{template "footer" .}}